[Unit]
Description=Gunicorn instance to serve edonius
After=network.target

[Service]
User=honza
Group=www-data
WorkingDirectory=/srv/apps/13_Edonius
EnvironmentFile=-/srv/apps/13_Edonius/.env
Environment="DJANGO_SETTINGS_MODULE=_conf.settings.prod"
ExecStart=/srv/apps/13_Edonius/.venv/bin/gunicorn _conf.wsgi:application --workers 1 --bind 0.0.0.0:8013

[Install]
WantedBy=multi-user.target
